header h1 {
    text-align: center;
    font-family: "Georgia", serif;
}

main {
    font-family: cursive;
    line-height: 4;
}

footer {
    text-align: center;
    font-weight: bold;
    background-color: rgb(1, 1, 1, 0.05);
    color: grey;
}