button.special {
    width: 100px;
    height: 50px;
    background-color: #ffcc00;
    transition: all 1s ease-out;
}
button.special:hover {
    background-color: brown;
    width: 200px;
    height: 100px;
}

button.special:active {
    border: 10px solid black;
}

p::before {
    content: "Ajout avec le before : ";
    color: blue;
}
