html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    display: flex;
}

body div {
    margin: 10px 5px 10px 10px;
}

div.bleu, div.rouge {
    height: 100%;
    width: 50%;
}

div.bleu {
    background-color: blue;
}

div.rouge {
    background-color: red;
}

@media (max-width: 600px) {
    body {
        display: block
    }

    div.bleu, div.rouge {
        height: 50%;
        width: 100%;
    }
}
